/*------------------------------------*\
#FONTS
\*------------------------------------*/

/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
  /* Global colors */
  --global-color-back: #6dbedf;
  --global-color-front: white;

  /* global page settings */
  --global-html-color: var(--global-color-front);
  --global-html-backgroundColor: var(--global-color-back);
  --global-selection-backgroundColor: var(--global-color-front);
}

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
  font-size: 16px;
  line-height: 1.5;
  font-family: sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--global-html-backgroundColor);
  color: var(--global-selection-backgroundColor);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Customize the background color to match your design.
*/

::selection {
  background: var(--global-selection-backgroundColor);
  color: white;
  text-shadow: none;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*
    Objects: List
    ---
    Small reusable object to remove default list styling from lists
*/

.o-list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

/*
    Object: Hide accessible
    ---
    Accessibly hide any element
*/

.o-hide-accessible {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

/*
    Component: Robot
*/

.c-robot {
  max-width: 300px;
  fill: var(--global-color-front);
  --c-robot-animation-duration: 0.75s;
  --c-robot-animation-timing-function: ease-in-out;
  --c-robot-animation-iteration-count: infinite;
  --c-robot-animation-direction: alternate;

}

.c-robot__shadow {
  fill: black;
  opacity: 0.3;
}

/* #Shadow{
  animation-name: shadowPulse;
  animation-duration: 0.75s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transform-origin: 50% 100%;
}

#Robot{
  animation-name: robotHover;
  animation-duration: var(--c-robot-animation-duration);
  animation-timing-function: var(--c-robot-animation-timing-function);
  animation-iteration-count: var(--c-robot-animation-iteration-count);
  animation-direction: var(--c-robot-animation-direction);
  transform-origin: 50% 100%;
} */

.c-robot--css-anim #Shadow{
  transform-origin: 50% 100%;
  animation-name: shadowPulse;
  animation-duration: var(--c-robot-animation-duration);
  animation-timing-function: var(--c-robot-animation-timing-function);
  animation-iteration-count: var(--c-robot-animation-iteration-count);
  animation-direction: var(--c-robot-animation-direction);
}

.c-robot--css-anim #Robot{
  transform-origin: 50% 100%;
  animation-name: robotHover;
  animation-duration: var(--c-robot-animation-duration);
  animation-timing-function: var(--c-robot-animation-timing-function);
  animation-iteration-count: var(--c-robot-animation-iteration-count);
  animation-direction: var(--c-robot-animation-direction);
}

/*
    Component: Controls
*/
.c-controls {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.c-controls__list {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 14px;
}

.c-controls__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  border-radius: 15px;
}

.c-controls__button--pause {
  padding: 4px;
  border-radius: 50%;
}

.c-controls__button:hover {
  background-color: #394b58;
}

.c-controls__list .c-controls__radio:hover+.c-controls__button,
.c-controls__list .c-controls__radio:active+.c-controls__button,
.c-controls__list .c-controls__radio:focus+.c-controls__button {
  background-color: #394b58;
}

.c-play-icon {
  width: 1rem;
  height: 1rem;
  fill: white;
}

.c-play-icon--play {
  display: none;
}


/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

/*------------------------------------*\
#MEDIA
\*------------------------------------*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/
@keyframes shadowPulse{
  100%{
    transform: scale(0.75)
  }
}

@keyframes robotHover{
  0%{
    transform: translateY(2.5%);
  }
  100%{
    transform: translateY(-2.5%);
  }
}

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: ' (' attr(href) ')';
  }
  abbr[title]:after {
    content: ' (' attr(title) ')';
  }
  /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
  a[href^='#']:after,
  a[href^='javascript:']:after {
    content: '';
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
